body {
    background-image : url("../images/Classement.jpg");
    background-attachment: fixed;
    background-color:#a5a5a5;
}

.classement {
    background-color: rgb(175, 158, 101);
    width: 15%;
    border : solid black;
    font-family: 'Lobster', cursive;
    list-style-type: none;
    
}

p, .text{
    background-color: rgb(175, 158, 101);
    width: 50%;
    border : solid rgb(61, 59, 59);
    font-family: 'Lobster', cursive;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
}

h1{
    color : rgb(175, 158, 101);
}