body {
    background-image : url("../images/wallpaperflare.com_wallpaper.jpg");
    background-attachment: fixed;
    background-color:#a5a5a5;
}

.humains{
    border : medium solid rgb(145, 0, 17);
    color : white;
    background-color: rgb(212, 23, 23);
}